.displayImage{
    position: relative;
    box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

.imageData{
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.7s ease-in-out;
}

.imageData img{
    width: 100%;
    height: auto;
}

.displayImage i{
    position: absolute;
    font-size: 100px;
    color: white;
    opacity: 0.2;
    cursor: pointer;
}
.fa-chevron-left{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.fa-chevron-right{
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}


.imageText div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    transition: transform 0.7s ease-in-out;
    background-color: rgb(0, 0, 0);
    color: white;
}

.imageText div small{
    margin-left: 30px;
}