* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Cairo', 'Arial';
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

h2{
    display: block;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
}

h2:before{
    display: block;
    content: "";
    width: 20%;
    height: 3px;
    background-color: #313393;
    margin-top: 5px;
}

h2:after{
    position: absolute;
    display: block;
    content: "";
    width: 20%;
    height: 3px;
    background-color: #313393;
    margin-top: 5px;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .stepByStep h2{
        font-size: 1.5rem;
    }
}