.socialMediaIcons{
    display: flex;
    align-items: center;
    padding: 5px 10px; 
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
}

.socialMediaIcons:hover{
    color: #313393;
}

.socialMediaIcons small{
    margin-left: 5px;
}