.autoImageContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-width: 320px;
    background-color: grey; 
}

.autoPlayContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 166, 0);
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    overflow: hidden;
}

.autoPlayContainer img{
    width: 150%;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out;
}

