.autoImageContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-width: 320px;
    background-color: grey; 
}

.autoPlayContainer{
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    overflow: hidden;
}

.autoPlayContainer img{
    transition: transform 0.8s ease-in-out;
    height: 100%;
    width:100%;
}

