.stickMenu{
    display: flex;
    position: sticky;
    justify-content: space-around;
    top: 0;
    z-index: 1;
    background-color: rgb( 240,240,240);
    align-items: center;
    width: 100%;
    padding: 10px;
}

.stickMenu img{
    width: auto;
    height: 40px;
}

.hamburguerButton{
    display: none;
}

.stickMenuItens{
    display: flex;
}

@media only screen and (max-width: 800px){
    .stickMenu{
        justify-content: center;
    }
    .stickMenuItens {
        display: none;
    }
}