.contactForm{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    width: 100%;
    background: rgb(6,115,0);
    background: linear-gradient(15deg, rgba(6,115,0,1) 0%, rgba(0,151,255,1) 100%);
}

.formInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-width: 340px;
    max-width: 800px;
    padding: 0px 20px;
    background-color: white;
    box-shadow: -8px 8px 5px rgba(0,0,0,0.2);
}

.formInputs label{
    align-self: flex-start;
    margin-top: 20px;
}

.formInputs input{
    width: 100%;
    min-width: 300px;
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(240, 240, 240);
}

.formInputs input:focus{
    outline: none;
}

.formInputs div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
    width: 100%;
    min-width: 320px;
}
.formInputs div input{
    width: 20px;
    height: 20px;
    min-width: 20px;
    box-shadow: none;
    margin-right: 5px;
}

.formInputs div label{
    margin-right: 3%;
    margin-top: 0px;

}

.formTextArea{
    width: 100%;
    height: 150px;
    padding: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
}

.formTextArea:focus{
    outline: none;
}

.formInputs input:last-child{
    padding: 0px;
    margin: 20px 0px;
    width: 300px;
    height: 60px;
    align-self: flex-end;
    background: rgb(6,115,0);
    background-color: rgb(240, 240, 240);
    color: black;
}

.formInputs input:last-child:hover{
    background: linear-gradient(15deg, rgba(6,115,0,1) 0%, rgba(0,151,255,1) 100%);
    color: white;
}

.formInputs input:last-child:active{
    transform: scale(0.98);
}

@media only screen and (max-width: 600px){
    .formInputs input:last-child{
        background: linear-gradient(15deg, rgba(6,115,0,1) 0%, rgba(0,151,255,1) 100%);
        color: white;
    }
}

