.burguerClose{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burguerClose span{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #bdbdbd;
    border-radius: 3px;   
}

.burguerOpen{
    position: absolute;
    display: flex;
    align-items: center;
    top: 40px;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 20px;
}

.burguerOpen span{
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    background: #bdbdbd;
    border-radius: 3px;
    margin-top: auto;
}

.burguerOpen span:nth-child(1){
    top: 2px;
    transform: rotate(45deg);
}
.burguerOpen span:nth-child(2){
    top: -7px;
    transform: rotate(-45deg);
}

.hamburguerMenu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    font-size: 35px;
}

.hamburguerMenuVisble{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    font-size: 35px;
}

