
.ourHistory{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #313393;
    width: 100%;
}

.skewedBotton{
    position: absolute;
    background-color: #313393;
    width: 100%;
    height: 80px;
    bottom: -80px;
    transform: skewY(3deg);
    transform-origin: top right;
    box-shadow: -2px 15px 15px rgba(82, 82, 82, 0.4);
}

.ourHistory h2{
    color: white;
}

.ourHistory h2:after{
    background-color: white;
}

.ourHistory h2::before{
    background-color: white;
}

.ourHistoryContent{
    position: relative;
    width: 70%;
    min-width: 320px;
    max-width: 950px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    z-index: 2;
}

.ourHistoryImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.ourHistoryImage div{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

.ourHistoryText{
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.ourHistoryText div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: all 1s ease-in-out;
}

.ourHistoryContent i{
    position: absolute;
    font-size: 70px;
    color: white;
    opacity: 0.2;
    cursor: pointer;
}
.fa-chevron-left{
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.fa-chevron-right{
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}


@media(max-width: 1100px ){
    .ourHistoryContent{
        height: 450px
    }
    .ourHistoryContent i{
        font-size: 50px;
    }

    .ourHistoryText{
        position: relative;
        bottom: 0px;
        right:  0px;
        width: 100%;
        font-size: 0.8rem;
    }
}

@media(max-width: 600px ){
    
    .ourHistoryContent{
        width: 100%;
        height: 300px
    }

    .ourHistoryContent i{
        font-size: 30px;
    }

    .fa-chevron-left{
        left: 10px;
    }
    
    .fa-chevron-right{
        right: 10px;
    }
}
