
.ourHistory{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 20px;
    background-color: #313393;
    width: 100%;
}

.skewedBotton{
    position: absolute;
    background-color: #313393;
    width: 100%;
    height: 80px;
    bottom: -80px;
    transform: skewY(3deg);
    transform-origin: top right;
    box-shadow: -2px 15px 15px rgba(82, 82, 82, 0.4);
}

.ourHistory h2{
    color: white;
}

.ourHistory h2:after{
    background-color: white;
}

.ourHistory h2::before{
    background-color: white;
}

.ourHistoryContent{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    min-width: 320px;
    max-width: 700px;
    overflow: hidden;
}

.slideDisplay{
    display: flex;
    background-color: rgb(255, 166, 0);
    width: 100%;
    transform: translateX(0%);
    transition: transform 0.8s ease-in-out;
}

.slideDisplay img{
    width: 100%;
    height: auto;
}

.ourHistoryText{
    position: absolute;
    bottom: 0;
    width: 70%;
    min-width: 280px;
    max-width: 600px;
    height: 100px;
    overflow: hidden;
    z-index: 2;
}

.ourHistoryText div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
    background: black;
    color: white;
}

.ourHistoryText div small{
    margin-left: 20px;
}

.ourHistoryContent i{
    position: absolute;
    font-size: 100px;
    color: white;
    opacity: 0.2;
    cursor: pointer;
}
.fa-chevron-left{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.fa-chevron-right{
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}



