.stepByStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(240,240,240);
}

.stepByStepIcons{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.stepByStepIcons div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    margin: 30px 20px;
    padding: 10px 0px;
    border-radius: 10px;
}

.stepByStepIcons div:hover{
    background-color: rgba(230,230,230);
}

.stepByStepIcons div h3{
    font-weight: 400;

}

.stepByStepIcons div small{
    color: #313393;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .stepByStep h2{
        font-size: 1.5rem;
    }
}