.stepByStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(240,240,240);
}

.stepByStepIcons{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.stepByStepIcons > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    margin: 30px 20px;
    padding: 10px 40px;
    border-radius: 10px;
    background: linear-gradient(15deg, rgba(238,238,238,1) 0%, rgba(254,254,254,1) 25%, rgba(239,239,239,1) 45%, rgba(246,246,246,1) 63%, rgba(244,244,244,1) 79%, rgba(255,255,255,1) 100%);
    box-shadow: -4px 4px 8px rgba(167, 167, 167, 0.1);
}

.stepByStepIcons div h3{
    font-weight: 400;

}

.stepByStepIcons div small{
    color: #313393;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .stepByStep h2{
        font-size: 1.5rem;
    }
}