.autoImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    min-width: 320px;
    background-color: rgb(0, 0, 0); 
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../../data/image-data//image//grafica-mesquita1.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.topAutoImage{
    position: relative;
    width: 100%;
    height: 100vh;
}

.topAutoImage img{
    width: 100%;
}

.topAutoImage > div{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}

.topAutoImage > div h2{
    font-weight: 400;
    margin-bottom: 30px;
}

.topAutoImage > div h2:after{
    display: none;
}

@media (max-width: 1000px){
    .autoImageContainer{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../../data/image-data//image//grafica-mesquita1.jpg) ;
    }

}

@media (max-width: 800px){
    .autoImageContainer{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../../data/image-data//image//grafica-mesquita2.jpg) ;
    }
}


@media (max-width: 600px){
    .autoImageContainer{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../../data/image-data//image//grafica-mesquita3.jpg) ;
        background-size: auto;
    }
    .topAutoImage > div{
        width: 90%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}